.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.anchor {
    font-size: 20px;
    padding: 4px 12px;
}